<div class="accordion" fillSpace="sideBar">
    <volist name="nodes" id="node">
        <div class="accordionHeader">
            <h2><span>Folder</span>{$node.name}</h2>
        </div>
        <div class="accordionContent">
            <ul class="tree treeFolder">
                <volist id="item" name="node.children">
                    <notempty name="item['children']">
                        <li><a href="javascript:;">{$item['name']}</a>
                            <ul>
                                <volist id="subitem" name="item.children">
                                    <notempty name="subitem['children']">
                                        <li><a href="javascript:;">{$subitem['name']}</a>
                                            <ul>
                                                <volist id="subitem2" name="subitem.children">
                                                    <notempty name="subitem2['children']">
                                                        <li><a href="javascript:;">{$subitem2['name']}</a>
                                                            <ul>
                                                                <volist id="subitem3" name="subitem2.children">
                                                                    <notempty name="subitem3['children']">
                                                                        <li><a href="javascript:;">{$subitem3['name']}</a>
                                                                            <ul>
                                                                                <volist id="subitem4" name="subitem3.children">
                                                                                    <notempty name="subitem4['children']">
                                                                                        <li><a href="javascript:;">{$subitem4['name']}</a>
                                                                                            <ul>
                                                                                                <volist id="subitem5" name="subitem4.children">
                                                                                                    <notempty name="subitem5['children']">
                                                                                                        <li><a href="javascript:;">{$subitem5['name']}</a>
                                                                                                            <ul>
                                                                                                                <volist id="subitem6" name="subitem5.children">
                                                                                                                    <li><a href="__MODULE__/{$subitem6.controller}/index" target="navTab" rel="{$subitem6.controller}">{$subitem6.name}</a></li>
                                                                                                                </volist>
                                                                                                            </ul>
                                                                                                        </li>
                                                                                                        <else/>
                                                                                                        <li><a href="__MODULE__/{$subitem5.controller}/index" target="navTab" rel="{$subitem5.controller}">{$subitem5.name}</a></li>
                                                                                                    </notempty>
                                                                                                </volist>
                                                                                            </ul>
                                                                                        </li>
                                                                                        <else/>
                                                                                        <li><a href="__MODULE__/{$subitem4.controller}/index" target="navTab" rel="{$subitem4.controller}">{$subitem4.name}</a></li>
                                                                                    </notempty>
                                                                                </volist>
                                                                            </ul>
                                                                        </li>
                                                                        <else/>
                                                                        <li><a href="__MODULE__/{$subitem3.controller}/index" target="navTab" rel="{$subitem3.controller}">{$subitem3.name}</a></li>
                                                                    </notempty>
                                                                </volist>
                                                            </ul>
                                                        </li>
                                                        <else/>
                                                        <li><a href="__MODULE__/{$subitem2.controller}/index" target="navTab" rel="{$subitem2.controller}">{$subitem2.name}</a></li>
                                                    </notempty>
                                                </volist>
                                            </ul>
                                        </li>
                                        <else/>
                                        <li><a href="__MODULE__/{$subitem.controller}/index" target="navTab" rel="{$subitem.controller}">{$subitem.name}</a></li>
                                    </notempty>
                                </volist>
                            </ul>
                        </li>
                        <else/>
                        <li><a href="__MODULE__/{$item.controller}/index" target="navTab" rel="{$item.controller}">{$item.name}</a></li>
                    </notempty>
                </volist>
            </ul>

        </div>
    </volist>
</div>


