<form id="pagerForm" action="__URL__" method="post">
    <input type="hidden" name="pageNum" value="{$_REQUEST['pageNum']|default=1}"/>
    <input type="hidden" name="medium" value="{$_REQUEST.medium}"/>
    <input type="hidden" name="pid" value="{$_REQUEST['pid']}"/>
    <input type="hidden" name="title" value="{$_REQUEST['title']}"/>
</form>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="__URL__/add/id/{$id}" target="dialog" mask="true"><span>新增</span></a></li>
            <li><a class="delete" href="__URL__/foreverdelete/id/{sid_node}/navTabId/__DWZ__" target="ajaxTodo" calback="navTabAjaxMenu" title="你确定要删除吗？" warn="请选择节点"><span>删除</span></a></li>
            <li><a class="edit" href="__URL__/edit/id/{sid_node}/node_id/{$id}" target="dialog" mask="true" warn="请选择节点"><span>修改</span></a></li>

        </ul>
    </div>


    <table class="table" width="100%" layoutH="138">
        <thead>
        <tr>
            <th width="60">编号</th>
            <th width="100" orderField="title" <if condition="$_REQUEST._order eq 'title'">class="{$_REQUEST._sort}"</if>>名称</th>
            <th width="60">内容</th>
            <th width="100">过滤代码</th>

        </tr>
        </thead>
        <tbody>
        <volist id="vo" name="list">
            <tr target="sid_node" rel="{$vo['id']}">
                <td>{$vo['id']}</td>
                <td>{$vo['name']}</td>
                <td>{$vo['content']}</td>
                <td>{$vo['code']}</td>
            </tr>
        </volist>
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>共{$totalCount}条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
    </div>
</div>

