<div class="page">
	<div class="pageContent">

	<form method="post" action="__URL__/update/navTabId/__DWZ__" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="id" value="{$vo.id}" >
		<div class="pageFormContent" layoutH="58">
			 <div class="unit">
				<label>请选择分类：</label>
				<select name="class_id" class="required combox" >
					<option value="">请选择</option>
					<volist name="cate" id="vocate">
					<option value="{$key}" <eq name="vo.class_id" value="$key">selected=selected</eq>>{$vocate}</option>
					</volist>
				</select>
			</div>
			<div class="unit">
				<label>标题：</label>
				<input type="text" class="required" value="{$vo.title}"  name="title" id="title">
			</div>
            <div class="unit">
				<label>排序：</label>
				<input type="text" class="required"  name="sort" id="sort" value="{$vo.sort}" size="5" />
			</div>
           
          <div class="unit">
			<label>内容：</label>
			  <textarea name="content" editor="{$vo.editor_id}" cols="80" rows="10">{$vo.content}</textarea>
			</div>

		</div>

		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
	</div>
</div>

